@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">


    <form method="get">

        <fieldset>
            Choose Movie <select id="MovieType" name="MovieType" class="form-control">

               

                <option value="0">Action</option>

                <option value="1">Drama</option>

                <option value="2">Comedy</option>

                <option value="3">Science Fiction</option>

                <option value="4">Western</option>

                <option value="5">Romance</option>

                <option value="6">Anime</option>

            </select>

            

        </fieldset>

    </form>


</main>