
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mehmet ALBAYRAK</h2>
<h3>Software Developer</h3>
<h4>İzmir, Turkey</h4>
<h5>Phone: 1234567890</h5>
<h6>albayrakmehmetdeu@gmail.com</h6>

