@model MVC_ProductStockManagement.Models.Entity.Customer
@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<form method="post" class="form-group">
    <div>
        <label>Customer Name</label>
        @Html.TextBoxFor(c => c.CustomerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.CustomerName, "", new { @style = "color:green" })
    </div>

    <div>
        <label>Customer Last Name </label>
        <input type="text" class="form-control" name="CustomerLastName" />
    </div>
    <div>
        <button class="btn btn-info" > Add Customer </button>
    </div>
</form>